[Unit]
Description=Disable Transparent HugePages
Documentation=https://www.kernel.org/doc/Documentation/vm/transhuge.txt
DefaultDependencies=no
Before=sysinit.target
ConditionPathExists=/sys/kernel/mm/transparent_hugepage/enabled

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "never" > /sys/kernel/mm/transparent_hugepage/enabled'
ExecStart=/bin/sh -c 'echo "never" > /sys/kernel/mm/transparent_hugepage/defrag'

[Install]
WantedBy=multi-user.target
