# These requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
mypy
gitchangelog
mkdocs
typed-argument-parser
boto3
botocore
requests
types-requests
deepdiff
python-dateutil
types-python-dateutil
pydantic
pyyaml
types-PyYAML
sqlalchemy
unidecode
prettytable
humanize
