---
- name: Update cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install common utils
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: no
  loop: "{{ packages_general }}"
  register: result
  until: result is success
  delay: 30
  retries: 3

# Install as per official docs https://www.postgresql.org/download/linux/ubuntu/
- name: Install postgresql-common
  ansible.builtin.apt:
    name: postgresql-common
    state: present
    update_cache: yes

- name: PGDB repo setup
  ansible.builtin.command: /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh -y
  changed_when: false  # To silence Molecule idempotence

- name: Disable cluster auto-create
  ansible.builtin.lineinfile:
    path: /etc/postgresql-common/createcluster.conf
    insertafter: '^#create_main_cluster ='
    line: 'create_main_cluster = false'

- name: Install postgres
  ansible.builtin.apt:
    name: postgresql-{{ postgres.version | d(16) }}
    state: present
  register: result
  until: result is success
  delay: 30
  retries: 3

- name: Extra postgres extensions / random packages needed by user
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop: "{{ os.extra_packages }}"
  register: result
  until: result is success
  delay: 30
  retries: 3
  when: ( os.extra_packages is defined ) and ( os.extra_packages | type_debug == "list" )
