---
instance_name: spot

# Not exposed in the manifest currently
postgres_version: "{{ postgres.version | d(16) }}"
add_dummy_data: false  # For dev testing restores
default_initdb_opts:
  - --data-checksums
  - --locale-provider=icu
  - --icu-locale=en
  - --locale=en_US.utf8
  - --auth=trust  # For local on-VM connections
non_su_roles_14: "pg_checkpoint,pg_monitor,pg_read_all_data,pg_read_all_settings,pg_read_all_stats,pg_signal_backend,pg_stat_scan_tables,pg_write_all_data"
non_su_roles_15: "{{non_su_roles_14}}"
non_su_roles_16: "{{non_su_roles_15}},pg_create_subscription"
non_su_roles_17: "{{non_su_roles_16}},pg_maintain"
