# User provided manifest as provided
---
api_version: v1
kind: pg_spot_operator_instance
cloud: aws
region: eu-north-1
instance_name: hello-aws
#expiration_date: now
postgres:
  version: 16
  admin_user: admin
  admin_user_password: seitselehma
  config_lines:
    - "statement_timeout = '5min'"
backup:  # Only supported backup tool is pgBackRest currently
  type: none  # none | pgbackrest
  s3_bucket: pg-spot-ops-dev
  pgbackrest:
    global_settings:
      repo1-s3-region: eu-north-1
      repo1-s3-endpoint: s3.eu-north-1.amazonaws.com
vm:
  cpu_min: 4
os:
  extra_packages: [pgbadger]
  ssh_pub_key_paths:
    - ~/.ssh/google_compute_engine.pub
user_tags:
  app: shop
monitoring:
  prometheus_node_exporter:
    enabled: true
  grafana:
    enabled: true
