---

- hosts: all
  become: yes
  become_method: sudo
  any_errors_fatal: true
  gather_facts: true
  
  tasks:
    - name: Validate instance_name. Must be provided by the caller / Python code
      assert:
        that:
          - instance_name is defined
          - instance_name | length > 0
        fail_msg: "instance_name must be defined and not empty"
  
  roles:
    - role: show_merged_vars
      when: verbose | d(False)
    - role: fail2ban
      when: os.ssh_brute_force_protection | d(True)
    - role: mount_unattached_disks
    - role: install_os_pg_prereqs
    - role: os_setup
    - role: init_pg_instance
    - role: sync-ssh-authorized-keys
    - role: configure_pgbackrest
      when: backup.type | d('none') == "pgbackrest"
    - role: pgbackrest_restore
      when: backup.type | d('none') == "pgbackrest"
    - role: open_pg_instance_access
    - role: self_termination_setup
    - role: monitoring_setup
    - role: setup_finished_callback
    - role: setup_completed_marker_file
